<nav class="bg-body-tertiary p-2">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Hamburger icon only for mobile -->
            <button class="btn btn-outline-secondary d-md-none" (click)="onMenuClick()">
                <i class="bi bi-list"></i>
            </button>

            <div>
                <p class="mb-0">Logo</p>
            </div>
            <div>
                <a routerLink="./diametion">diamention</a>
            </div>
        </div>
    </div>
</nav>