<p>sidebar works!</p>
<ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/product">Product</a></li>
    <li><a routerLink="/employees">Employee</a></li>
    <li><a routerLink="/parent">Parent</a></li>
    <li><a routerLink="/design-shirt">Design Shirt</a></li>
    <li><a routerLink="/final-design">Final Design</a></li>
    <li><a routerLink="/signal-form">Signal Form</a></li>
    <li><a routerLink="/validation">Validation Form</a></li>

</ul>